@import url(https://fonts.google.com/specimen/Josefin+Sans);

:root {
  --main-bg-color-dark: hsl(235, 21%, 11%);
  --secondary-bg-color-dark: hsl(235, 24%, 19%);
  --main-font-color-dark: hsl(234, 39%, 85%);
  --hover-font-color-dark: hsl(236, 33%, 92%);
  --footer-font-color-dark: hsl(233, 14%, 35%);
  --check-background-gradient-s: hsl(192, 100%, 67%);
  --check-background-gradient-f: hsl(280, 87%, 65%);
  --content-width: 600px;
  --active-color-blue: hsl(220, 98%, 61%);
  --font-main-stack: "Josefin Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 400;
}

body {
  font-family: var(--font-main-stack);
  height: 100vh;
  background-color: var(--main-bg-color-dark);
  position: relative;
}

.background p {
  text-align: center;
  margin: 40px auto;
  color: var(--footer-font-color-dark);
  font-size: 0.8em;
  font-weight: 400;
  position: absolute;
  top: 90%;
  left: 50%; 
  transform: translate(-50%, -50%);
}

.content-wrapper {
  background-color: red;
  width: var(--content-width);
  height: 80%;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 10;
}

.title {
    display: flex;
    justify-content: space-between;
}

.title h1{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 10px;
    color: white;
}

.current-content{
    position: relative;
    background-color: var(--secondary-bg-color-dark);
    padding: 10px 10px;
    margin: 30px 0;
    border-radius: 3px;
    box-shadow: 8px 8px 16px 4px rgba(0,0,0,0.61); 
}

input[type=checkbox] {
    visibility: hidden;
}

.container{
 
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: auto;
    left: 10px;
    height: 25px;
    width: 25px;
    background-color: var(--secondary-bg-color-dark);
    border: 1px solid var(--footer-font-color-dark);
    border-radius: 50%;
  }

/* On mouse-over, border background color */
 


