@import url(https://fonts.google.com/specimen/Josefin+Sans);

:root{
    --main-bg-color-dark: hsl(235, 21%, 11%);
    --secondary-bg-color-dark: hsl(235, 24%, 19%);
    --main-font-color-dark: hsl(234, 39%, 85%);
    --hover-font-color-dark: hsl(236, 33%, 92%);
    --footer-font-color-dark: hsl(233, 14%, 35%);

    --content-width: 500px;
    --font-main-stack: 'Josefin Sans', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
}

body{
    font-family: var(--font-main-stack);
    height: 100%;
    background-color: var(--main-bg-color-dark);
}

.background p{
    text-align: center;
    margin: 40px auto;
    color: var(--footer-font-color-dark);
    font-size: 0.8em;
    font-weight: 400;
}



